.header_btns {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.calender {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin: 20px;
    padding: 10px;
    & .calender__date {
        height: auto;
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track {
        display: none;
        background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
        background: #4b4b4b;
        border-radius: 2px;
    }
}

.date_item {
    display: grid;
    align-items: space-between;
    row-gap: 10px;
    padding: 5px;
    border: 1px solid #e8e8e8;
    & .date_item__no {
        padding: 10px;
        font-weight: bold;
    }
    & .date_item_appointment {
        height: 80px;
        overflow-y: hidden;
        padding: 0px 5px;
        &:hover {
            overflow-y: auto;
        }
        @extend .scrollbar;
    }
}

.appointment_item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 3px;
}

.badge {
    &::after {
        content: none !important;
    }
}

.modal {
    @extend .scrollbar;
}

.save-btn {
    display: flex;
    justify-content: center;
    & button {
        margin: 10px;
    }
}
